.backGround {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.containerLogin {

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 15px;

  background-image: var(--background-image-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.loginForm {
  width: 100%;
}

.wrapLogin {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  border-radius: 10px;

  overflow: hidden;
  padding: 5rem 5rem 0rem 5rem;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.loginFormTitle {
  display: block;
  font-size: 30px;
  margin-bottom: 3rem;
  color: #adadad;

  line-height: 1.2;
  text-align: center;
}

.wrapInput {
  width: 70%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}
.containerLoginFormBtn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFormBtn {
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: var(--color-text-gray);

  line-height: 1.2;

  display: flex;
  justify-content: center;
  align-items: center;
width: 70%;
  height: 6rem;

  background: -webkit-linear-gradient(
    to left,
    var(--color-button-primary),
    var(--color-button-secondary)
  );
  background: -o-linear-gradient(
    to left,
    var(--color-button-primary),
    var(--color-button-secondary)
  );
  background: -moz-linear-gradient(
    to left,
    var(--color-button-primary),
    var(--color-button-secondary)
  );
  background: linear-gradient(
    to left,
    var(--color-button-primary),
    var(--color-button-secondary)
  );
}

.loginForm-btn {
  &:hover {
    cursor: pointer;
  }
}

:disabled {
  filter: brightness(0.8);
  cursor: not-allowed;
  display: inline-block;
}

.textCenter {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}

.text1 {
  font-size: 14px;
  color: var(--color-text-gray);
  line-height: 1.5;
  padding-right: 5px;
  text-decoration: none;
}

.text2 {
  font-size: 14px;
  color: var(--color-text-blue);
  line-height: 1.5;
  padding-right: 5px;
  text-decoration: none;
}

.footer {
  font-size: 14px;
  color: #adadad;
  line-height: 1.5;
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 769px) {
  .wrapLogin {
    width: 85%;
    overflow: hidden;
    padding: 5rem 5rem 1rem 5rem;

  }
}
