.containerAgendamentos {
  width: 100%;

  display: flex;
  flex-direction: row;

  gap: 4rem;
  
  
}


.containerMeusAgendamentos {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  overflow-x: scroll;

}

.mensagem{
  color: var(--color-text-gray);
}

.titleMeusAgendamentos {
  margin: 2rem;
  color: var(--color-text-blue);
}

.meusAgendamentos {
 margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.containerCardAgendamento {
  background-color: var(--color-text-gray);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  height: 15rem;
  padding: 2rem 2rem 0 2rem;
  gap: 2rem;
}

.cardAgendamento {
  color: var(--color-text-blue);
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.containerBtnCard{
  display: flex;
  flex-direction: row;
  justify-content: stretch;  
  width: 100%;
  gap: 1rem;
  margin-bottom: 2re;
  
}

.btnIniciar{
  color: var(--color-text-gray);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  background: -webkit-linear-gradient(
    to left,
    #333,
    #131413,
  );
  background: -o-linear-gradient(
    to left,
    #333,
    #131413,
  );
  background: -moz-linear-gradient(
    to left,
    #333,
    #131413,
  );
  background: linear-gradient(
    to left,
    #333,
    #131413,
  );
}


.btnFinalizar {
  color: var(--color-text-gray);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  background: -webkit-linear-gradient(
    to left,
    var(--color-button-primary),
    var(--color-button-secondary)
  );
  background: -o-linear-gradient(
    to left,
    var(--color-button-primary),
    var(--color-button-secondary)
  );
  background: -moz-linear-gradient(
    to left,
    var(--color-button-primary),
    var(--color-button-secondary)
  );
  background: linear-gradient(
    to left,
    var(--color-button-primary),
    var(--color-button-secondary)
  );
}


.btnCancelar {
  color: var(--color-text-blue);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  background: -webkit-linear-gradient(
    to left,
    var(--color-button-cancel-primary),
    var(--color-button-cancel-secondary)
  );
  background: -o-linear-gradient(
    to left,
    var(--color-button-cancel-primary),
    var(--color-button-cancel-secondary)
  );
  background: -moz-linear-gradient(
    to left,
    var(--color-button-cancel-primary),
    var(--color-button-cancel-secondary)
  );
  background: linear-gradient(
    to left,
    var(--color-button-cancel-primary),
    var(--color-button-cancel-secondary)
  );
}



.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.iconeSearching {
  width: 30rem;
  height: 30rem;
}


@media screen and (max-width: 769px) {
  .titleMeusAgendamentos {
    margin: 1rem;
  }
  
  .meusAgendamentos {
   margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .containerCardAgendamento {
    width: 28rem;
    height: 100%;
    padding: 1rem;
    gap: 2rem;
  }
}