.containerMeuCadastro {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  overflow-x: scroll;
}

.titleMeusAgendamentos {
  margin: 1rem;
  color: var(--color-text-blue);
}

.formMeuCadastro {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  background-color: var(--color-text-gray);
  padding: 3rem;
  border-radius: 10px;
  color: var(--color-text-blue);
}

.modalButtons{
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

button{
  height: 4rem;
  width: 12rem;
  border: none;
  border-radius: 10px;
  font-weight: 600;
} 

.onCancel{
  background-color: red;
  color: var(--color-text-blue);
}

.onConfirm {
  background-color: var(--color-text-blue);
  color: var(--color-text-gray);

}

.wrapInput {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #fff;
  margin-bottom: 37px;
}


@media screen and (max-width: 769px) {
  .formMeuCadastro {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
  }
}